@media screen{
    body{
        background-color: hsla(0, 0%, 0%, 0.9);
    }

    .external-div{
        color:white;
        overflow:hidden;
        background-color: hsla(0, 0%, 100%, 0.1);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10vh;
        width: 70%;
        height: 60vh;
        border-color:hsla(109, 87%, 49%, 0.703);
        border-style: solid;
        

    }
    .internal-div{
        overflow: hidden;
        height: 100%;  
        background-color: hsla(0, 0%, 100%, 0.1);   
    }

    .bottom > input{
        margin-left: 4%; 
    }

    .bottom{
        margin-top: 1%;
        margin-left: 4%;
    }


    .llabel{
        float: left;
        display: block;
        width:30%;
    }

    .buttonS{
        margin-top:2%;
        margin-left:60%;
        background-color: hsla(131, 94%, 48%, 0.844);
        color:black;
        height:5vh;
        width: 13%;
        z-index: 1;
        border-radius:3%; 
    }

    .bottom a{
        margin-left: 37%;
        color:rgba(255, 255, 255, 0.9);
    }

    .buttonS:hover{
        background-color: hsla(131, 94%, 48%, 0.944)
    }

    a:hover{
        color:rgb(255, 255, 255);
    }

}