<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/decoration.css" />
        <title>Sign In</title>
    </head>
    <body>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div class="external-div sign-in-height">
            <h1>&#160 &#160 &#160 Log In</h1>
            <div class="internal-div">
                <form method="post" id="SignIn">
                    <div class="bottom" id="email_bottom">
                        <label for="email" class="llabel">email:</label>
                        <input placeholder="email" id="email" type="email" required />
                    </div>
                    <div class="bottom">
                        <label for="password" class="llabel">password:</label>
                        <input placeholder="password" id="password" type="password" required />
                    </div>
                    <div class="bottom">
                        <a href="">Do not have an account,Sign Up</a>
                    </div>
                    <br>
                    <input class="buttonS" type="submit" value="Sign In" />
                </form>
            </div>
        </div>
    </body>
</html>
<script src=src/SignIn.js type="module"></script>