<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/decoration.css" />
        <title>Sign Up</title>
    </head>
    <body>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div class="external-div sign-up-height">
            <h1>&#160 &#160 &#160 Complete the Registration</h1>
            <div class="internal-div">
                <form method="post" id="SignUp">
                    <div class="bottom">
                        <label for="email" class="llabel">email:</label>
                        <input placeholder="email" id="email" type="email" required />
                    </div>
                    <div class="bottom">
                        <label  for="password" class="llabel">password:</label>
                        <input placeholder="password" id="password" type="password" required />
                    </div>
                    <div class="bottom">
                        <label  for="repeated_password" class="llabel">repeat password:</label>
                        <input placeholder="repeated_password" id="repeated_password" type="password" required />
                    </div>
                    <div class="bottom">
                        <a href="">Already have an account, Log in</a>
                    </div>
                    <br />
                    <input class="buttonS" type="submit" value="Sign Up" />
                </form>
            </div>
        </div>
    </body>
</html>
<script src=src/SignUp.js type="module"></script>