<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/decoration.css">
        <link rel="stylesheet" type="text/css" href="css/main-decoration.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Welcome</title>
    </head>
    <body>
        <div class="options">
            <div class="searcher">
                <input id="inputSearch" placeholder="..search" />
            </div>
            <div class="BookMarks">
                <a href="" style="text-decoration:none;">
                    &#160 &#160<span class="bookmarks"></span>
                </a>
            </div>
            <div class="LogOut">
                <a href="" style="text-decoration:none;">
                    &#160 <span class="logout"></span>
                </a>
            </div>
        </div>
        <h1 style="float:left;">Welcome manosmorf97@gmail.com</h1>
        <div class="movies">
            
        </div>
    </body>
</html>
<script src=src/movie_operations.js type="module"></script>